<nav class="navbar navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand">    
{{'Sitetitle' | translate }}    
</a>
        <span class="form-inline">  
          <select class="form-control" #selectedLang (change)="switchLang(selectedLang.value)">  
              <option *ngFor="let language of translate.getLangs()" [value]="language"    
[selected]="language === translate.currentLang">    
{{ language }}    
</option>  
          </select>  
      </span>
    </div>
</nav>
<div class="container">
    <form class="p-5">
        <div class="form-group mt-3">
            <label>{{'Name' | translate}}</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group mt-3">
            <label>{{'Email' | translate}}</label>
            <input type="email" class="form-control">
        </div>
        <button type="submit" class="btn btn-block btn-danger mt-3">{{'Submit' | translate}}</button>
    </form>
</div>